<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ArthSakhi{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <video autoplay muted loop playsinline id="bg-video">
    <source src="{{ url_for('static', filename='videos/bg.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="video-overlay"></div>

    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="ArthSakhi Logo">
    <span>ArthSakhi</span>
</div>
            <div class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('scam_checker') }}">Scam Checker</a>
                <a href="{{ url_for('learn') }}">Learn</a>
                <a href="{{ url_for('sakhi_ai') }}">Sakhi AI</a>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>